.overlay {
    z-index: 10;
    min-height: 100%;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* display: none; */
}

.modal-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 93vh;
    width: 90%;
    background: var(--var-yellow);
    z-index: 12;
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
    padding: 10% 12% 5%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation: showModal 0.6s;
    -webkit-animation: showModal 0.6s;
}

.close-button {
    color: darkred;
    position: absolute;
    right: 12%;
    font-size: 3rem;
    cursor: pointer;
    transition: transform ease-out 0.3s;
    -webkit-transition: transform ease-out 0.3s;
    -moz-transition: transform ease-out 0.3s;
    -ms-transition: transform ease-out 0.3s;
    -o-transition: transform ease-out 0.3s;
}

.close-button:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.modal-content {
    font-size: 1.6rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10%;
}

.modal-body {
    height: 100%;
    overflow: scroll;
}

.modal-header {
    margin-bottom: 2%;
    color: var(--var-dark-grey);
    font-size: 1.5rem;
    font-weight: 400;
}

.modal-main-content {
    height: 100%;
    font-weight: 300;
    color: var(--var-light-grey);
    padding: 1rem 0;
    padding-right: 1.4%;
    font-size: 1rem;
}

.modal-action {
    padding-top: 5%;
    display: grid;
    place-items: center;
}

.action-button {
    background: var(--var-primary-color);
    padding: 1.3rem;
    border: none;
    outline: none;
    color: var(--var-white);
    font-weight: bold;
    font-size: 1.6rem;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

@keyframes showModal {
    0% {
        height: 0;
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        height: 93vh;
        opacity: 1;
    }
}

@keyframes closeModal {
    0% {
        height: 93vh;
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@media (min-width: 500px) {
    .modal-box {
        width: 90%;
        position: fixed;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

@media (min-width: 700px) {
    .modal-box {
        padding-top: 5%;
        padding-bottom: 3%;
        width: 86%;
        position: fixed;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .modal-action {
        padding-top: 3%;
    }
}

@media (min-width: 730px) {
    .modal-box {
        width: 85%;
        position: fixed;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

@media (min-width: 1100px) {
    .modal-container {
        display: none;
    }
}